*{
    margin: 0px;
    padding: 0px;
}
#App{
    margin: 10px;
}
#main{
    display: flex;
    margin: 10px;
    
}
#heading{
    text-align: center;
    height: 50px;
    background-color: cyan;
    color: white;
    margin-bottom: 50px;
}
.user{
    width: 70%;
    border-right: 1px solid rgb(221, 201, 201);
    margin: 0px 10px 0px 100px;
}